.stats-heading {
  text-align: center;
  font-family: poppins;
  font-size: 54px;
  padding-top: 60px;
}
.stats-heading:after,
.stats-heading:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #f8f8f8;
}
.stats-heading span {
  color: #e74c3c;
  font-family: poppins;
  font-size: 60px;
}

.container-chart {
  display: flex;
  padding-top: 5%;
  position: relative;
  padding-bottom: 5%;
}

.hpa,
.apa {
  background-color: rgb(155, 6, 6);
  color: white;
  padding: 3% 2%;
  margin-top: 30px;
  margin-bottom: 30px;
  transform: skew(7deg);
  transform-origin: top right;
  transition: all 0.2s ease;
}

.hpa:hover,
.apa:hover {
  background-color: #710b0b;
  padding: 3% 0;
  transform: skew(12deg);
  transform-origin: top right;
}

@media screen and (max-width: 1090px) {
  .container {
    display: block;
  }
}
@media screen and (max-width: 635px) {
  .container-chart {
    display: flex;
    flex-direction: column;
  }
  .stats-desc {
    padding-left: 100px;
  }
}
.current-placement {
  width: 100%;
  /* display: flex; */
  -webkit-box-shadow: 0 0 20px rgb(55, 55, 56);
  -moz-box-shadow: 0 0 20px rgb(55, 55, 56);
  box-shadow: 0 0 20px rgb(55, 55, 56);
}
.current-placement:hover {
  box-shadow: 0 0 30px rgb(112, 112, 112);
}
.current-placement-head {
  padding: 30px 0 0 100px;
  font-size: 34px;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.current-placement-head .span-class {
  color: #e74c3c;
}
.current-placement-head .div-class {
  padding-top: 20px;
}
.chart-desc h1 {
  padding: 0px 0 0 30px !important;
}
