#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}
body {
  zoom: 0.7;
  -moz-transform: scale(0.7);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.7);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.7);
  -webkit-transform-origin: 0 0;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}
html{
  scroll-behavior: smooth;
}
.nav-bar{

   position: sticky; top: 0;
   z-index: 1;
   
  
}
.quick-links__container {
	background-color: rgb(196, 13, 13);
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.arrows {
	align-self: stretch;
	padding: 0.5em;
	background-color: inherit;
}

.quick-links__links {
	margin-left: auto;
	padding: 1rem 0;
	overflow-x: auto;
	scroll-behavior: smooth;
}

.quick-links__link {
	font-size: 15px;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
}

.quick-links__seperator {
	display: inline-flex;
	align-items: center;
}
.head{
  display: block;
  margin-bottom: 100px;
}
*{
  font-family: poppins !important;
}
